.btn-container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn-container .btn {
    margin: 10px;
    padding: 50px;
}

.reset-btn {
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.reset-btn .btn {
    padding: 10px 72px 10px 72px;
}

.text-muted {
    margin-top: 10px;
    text-align: center;
}