<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a New Campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name" name="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" placeholder="Price" name="price" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Image URL" name="image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="description" name="description">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-default btn-block btn-primary" type="submit">
                </div>
            </form>

            <a href="/campgrounds">Go Back</a>
        </div>
    </div> 
</div>

<%- include('../partials/footer') %>
